.traffic{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
.traffic h1{
    font-size: 18px;
    font-family: Monts bold;
    margin-bottom: 2rem;
    color: #00004a;
}
.traffic main{
    width: 50%;
    border: 1px solid gainsboro;
    padding: 24px;
}
.traffic main ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-left: 1rem;
}
.traffic main ul strong{
    color: #00004a;
}
.traffic main ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}